.App {
  padding: 20px;
  font-size: 36px;
  line-height: 2em;
}

select {
  font-size: 36px;
}

.App-table,
.App-table th,
.App-table td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 180%;
}

.App-table,
.App-InputFunc {
  margin-bottom: 32px;
}
